* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

input, button {
  box-sizing: content-box;
  height: 1em;
  padding: .5em;
}

button {
  cursor: pointer;
  align-items: center;
  gap: .5em;
  display: flex;
}

button iconify-icon {
  font-size: 1.5em;
}

dialog {
  border: .25rem outset #d3d3d3;
  margin: auto;
  padding: 1rem;
}

dialog header {
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  display: flex;
}

dialog hr {
  margin: 1rem 0;
}

dialog form {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

dialog form button {
  justify-content: center;
}

.profile-picture {
  cursor: pointer;
}

.layout {
  grid-template: "nav nav nav nav nav"
                 "g1 g1 g1 g1 g1" 8px
                 "viewer g2 boards g3 social" 2fr
                 "viewer g2 g4 g3 social" 8px
                 "viewer g2 materials g3 social" 1fr
                 / 3fr 8px 2fr 8px 1fr;
  width: 100%;
  height: 100%;
  display: grid;
}

.layout .nav-bar {
  grid-area: nav;
  padding: .5rem;
}

.layout .viewer {
  grid-area: viewer;
  overflow: auto;
}

.layout .boards {
  grid-area: boards;
  overflow: auto;
}

.layout .materials {
  grid-area: materials;
  overflow: auto;
}

.layout .materials .board-cards {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.layout .materials .board-cards .tool-bar {
  text-wrap: nowrap;
  border-bottom: 2px dashed #d3d3d3;
  gap: .5rem;
  min-height: fit-content;
  padding: .5rem;
  display: flex;
  overflow-x: auto;
}

.layout .materials .board-cards .grid {
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
  display: grid;
  overflow-y: auto;
}

.layout .materials .board-cards .grid .board-card {
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  padding: .5rem;
  display: flex;
  position: relative;
}

.layout .materials .board-cards .grid .board-card:hover {
  backdrop-filter: brightness(.75);
}

.layout .materials .board-cards .grid .board-card .logo {
  width: 100%;
}

.layout .materials .board-cards .grid .board-card p {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.layout .materials .board-cards .grid .board-card .users {
  gap: .25rem;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.layout .materials .board-cards .grid .board-card .users img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.layout .social {
  flex-direction: column;
  grid-area: social;
  display: flex;
  overflow: auto;
}

.layout .social .users {
  border-bottom: 2px dashed #d3d3d3;
  min-height: fit-content;
  display: flex;
  overflow-x: auto;
}

.layout .social .users .user-bubble {
  padding: .5rem;
}

.layout .social .users .user-bubble:hover {
  backdrop-filter: brightness(.75);
}

.layout .social .users .user-bubble img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.layout .social .chat {
  height: 100%;
  overflow-y: hidden;
}

.layout .social .chat .messages {
  flex-direction: column-reverse;
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.layout .social .chat .messages .inner {
  flex-direction: column;
  display: flex;
}

.layout .social .chat .messages .inner * {
  overflow-anchor: none;
}

.layout .social .chat .messages .inner .anchor {
  overflow-anchor: auto;
  height: 1px;
}

.layout .social .chat .messages .inner .message {
  gap: .5rem;
  padding: .5rem;
  display: flex;
}

.layout .social .chat .messages .inner .message:hover {
  backdrop-filter: brightness(.75);
}

.layout .social .chat .messages .inner .message img {
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}

.layout .social .chat .messages .inner .message p {
  overflow-wrap: anywhere;
  align-self: center;
}

.layout .social .chat .messages .inner .message p .username {
  line-height: 2rem;
}

.layout .social .chat .messages .inner .message p .message {
  padding: 0;
  font-weight: normal;
}

.layout .social form {
  display: flex;
}

.layout .social form input {
  width: 100%;
  font-size: 1.25rem;
}

.layout .social form button {
  font-size: 1.25rem;
}

.layout .gutter {
  background: #d3d3d3;
}

.layout .gutter.g1 {
  cursor: unset;
  grid-area: g1;
}

.layout .gutter.g2 {
  cursor: col-resize;
  grid-area: g2;
}

.layout .gutter.g3 {
  cursor: col-resize;
  grid-area: g3;
}

.layout .gutter.g4 {
  cursor: row-resize;
  grid-area: g4;
}
/*# sourceMappingURL=play.css.map */
