@use "../colors.scss" as *;

.icon-btn {
  cursor: pointer;
  border: none;
  background: transparent;
}

.underline-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: bolder;
  text-decoration: underline;
}
