@use "../colors.scss" as *;

.dynamic-tab-container {
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;

    button {
      cursor: pointer;
      display: flex;

      &.active {}

      p {}
    }
  }

  .contents {
    height: 100%;
    border-radius: 5px;
    border-top-left-radius: 0;
    background: $secondary1;
    overflow: hidden;

    .dynamic-tab-content {
      height: 100%;
    }
  }
}
