@use "../colors.scss" as *;

.dynamic-tab-container {
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;

    button {
      cursor: pointer;
      gap: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1.5rem;
      padding: 8px;

      &.active {
        background: $primary2;
      }

      p {}
    }
  }

  .contents {
    height: 100%;
    border-radius: 5px;
    border-top-left-radius: 0;
    background: $primary2;
    overflow: hidden;

    .dynamic-tab-content {
      height: 100%;
    }
  }
}
