@use "../colors.scss" as *;

form {
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    justify-content: space-between;
  }

  input {}

  input[type="submit"] {
    cursor: pointer;
  }
}
