@use "../colors.scss" as *;

.modal {
  outline: 2px solid $bg0;
  min-width: 300px;
  border: 5px solid $bg3;
  color: $txt1;
  background: $bg3;
  margin: auto;
  flex-direction: column;

  &::backdrop {
    background: rgba(0, 0, 0, 0.25);
  }

  .wrapper {
    width: 100%;
    border: 2px solid $bg0;
    background: $bg2;
    margin-top: 5px;
    padding: 5px;
  }
}
