@use "../colors.scss" as *;
@import "~pdfjs-dist/web/pdf_viewer.css";

.pdf-viewer {
  display: flex;
  position: relative;
  height: 100%;
  padding: 8px;
  flex-direction: column;

  form {
    display: none;
  }

  .page-buttons {
    display: flex;
    gap: 8px;
    width: 100%;
    margin-bottom: 8px;

    button {
      font-size: 1.25rem;
      font-weight: bolder;
      padding: 8px;
      text-transform: uppercase;
      flex: 1;
      justify-content: center;

      &:hover {
        backdrop-filter: brightness(1.25);
      }

      &.active {
        backdrop-filter: brightness(1.25);
      }
    }
  }

  .wrapper {
    position: relative;
    height: 100%;
    border-radius: 5px;
    background: $primary0;
    overflow: hidden;

    .viewer {
      position: absolute;

      .annotationLayer {

        input,
        textarea {
          border: 2px solid transparent;
          color: #000;
          background: rgba(0, 0, 0, 0);
          font-weight: bolder;

          &:focus {
            border: 2px solid #000;
          }

          &:hover {
            border: 2px solid #000;
          }
        }

        input {
          text-align: center;
        }
      }

      .textLayer {
        user-select: none;
      }
    }
  }
}
