@use "../colors.scss" as *;
@import "~pdfjs-dist/web/pdf_viewer.css";

.pdf-viewer {
  display: flex;
  position: relative;
  height: 100%;
  padding: 10px;
  flex-direction: column;

  form {
    display: none;
  }

  .page-buttons {
    display: flex;
    width: 100%;

    button {
      cursor: pointer;

      &.active {}
    }
  }

  .wrapper {
    position: relative;
    height: 100%;
    border-radius: 5px;
    background: $primary0;
    overflow: hidden;

    .viewer {
      position: absolute;

      .annotationLayer {

        input,
        textarea {
          border: 2px solid transparent;
          color: #000;
          background: rgba(0, 0, 0, 0);
          font-weight: bolder;

          &:focus {
            border: 2px solid #000;
          }

          &:hover {
            border: 2px solid #000;
          }
        }

        input {
          text-align: center;
        }
      }

      .textLayer {
        user-select: none;
      }
    }
  }
}
