@use "../colors.scss" as *;

.static-tab-container {
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    gap: 5px;

    button {
      cursor: pointer;
      border-style: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: 1.5rem;
      background: transparent;
      padding: 5px;

      &.active {
        background: $secondary1;
      }
    }
  }

  .contents {
    height: 100%;
    border-radius: 5px;
    border-top-left-radius: 0;
    background: $secondary1;
    padding: 5px;
    overflow: hidden;

    .static-tab-content {
      height: 100%;
    }
  }
}
