@use "../colors.scss" as *;

.static-tab-container {
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    gap: 6px;

    button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1.5rem;
      padding: 8px;

      &.active {
        background: $primary2;
      }
    }
  }

  .contents {
    height: 100%;
    border-radius: 5px;
    border-top-left-radius: 0;
    background: $primary2;
    padding: 8px;
    overflow: hidden;

    .static-tab-content {
      height: 100%;
    }
  }
}
