@use "../colors.scss" as *;

table {
  width: 100%;
  border-collapse: collapse;

  caption {
    position: relative;
    width: 100%;
    color: $txt4;
    font-size: 2rem;
    font-weight: bolder;
    text-align: left;

    ul {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      gap: 10px;
      height: 100%;
      align-items: center;

      button {
        height: 1.5rem;
        font-size: 1.5rem;
      }
    }
  }

  tr {
    &:hover {
      background: $bg3;

      td:last-child {
        opacity: 1;
      }
    }

    &:first-child {
      &:hover {
        background: transparent;
      }

      th {
        color: $txt4;
        font-weight: normal;
        text-align: left;
      }
    }

    td {
      border: 5px solid transparent;

      &:last-child {
        display: flex;
        gap: 5px;
        opacity: 0;
        flex-direction: row-reverse;
      }
    }
  }
}
