@use "../colors.scss" as *;

table {
  width: 100%;
  border-collapse: collapse;

  caption {
    position: relative;
    width: 100%;
    color: $primary1;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: left;

    ul {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      height: 100%;
      align-items: center;

      button {
        font-size: 2rem;
      }
    }
  }

  tr {
    td {
      &:last-child {
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }
}
