@use "../colors.scss" as *;

table {
  width: 100%;
  border-collapse: collapse;

  caption {
    position: relative;
    width: 100%;
    color: $txt4;
    font-size: 2rem;
    font-weight: bolder;
    text-align: left;

    ul {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      gap: 5px;
      height: 100%;
      align-items: center;

      button {
        height: calc(1.5rem + 4px);
        font-size: 1.5rem;

        &.toggled {
          border: 2px solid $green2;
          color: $bg2;
          background: $green1;
        }
      }
    }
  }

  tr {
    &:hover {
      background: $bg3;

      td:nth-child(3) button {
        opacity: 1;
      }
    }

    td {
      border: 5px solid transparent;

      &:nth-child(2) {
        color: $txt4;
      }

      &:nth-child(3) {
        display: flex;
        gap: 5px;
        flex-direction: row-reverse;

        button {
          opacity: 0;
        }
      }
    }
  }

  tr.is-owner td:nth-child(2) {
    color: $green1;
  }
}
