@use "../global.scss" as *;

.dnd-character-sheet {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__pdf-viewer {
    border: 2px solid $bg0;
    flex: 5;
  }

  &__list {
    display: flex;
    gap: 10px;
    width: 100%;
    background: $bg2;
    margin: 0;
    padding: 0 0 5px 0;
    list-style-type: none;
    justify-content: space-around;
    align-self: center;

    li {
      cursor: pointer;
      display: flex;
      gap: 5px;
      border: none;
      color: $txt4;
      background: transparent;
      font-weight: bolder;
      text-transform: capitalize;
      align-items: center;

      &.active {
        color: $yellow;
      }

      iconify-icon {
        font-size: 1.5rem;
      }
    }
  }
}
