@use "../global.scss" as *;

.library {
  @include panel;

  .your-stuff {
    .header {
      display: flex;
      border-top: 1px solid $bg4;
      color: $bg4;
      font-size: 1.5rem;
      padding: 5px 0;
      margin: 30px 5px 0 5px;
      justify-content: space-between;
      align-items: center;

      &:first-child {
        border-top: none;
        margin-top: 0;
      }

      p {
        margin: 0;
        font-weight: bolder;
      }

      button {
        @include icon_btn($txt4, $txt1);

        font-size: 1.5rem;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        &:hover {
          background: $bg2;

          td.controls button {
            opacity: 1;
          }
        }

        td {
          border: 5px solid transparent;
          padding: 0;

          &.name {
            button {
              @include underline_btn($txt1);
            }
          }

          &.info {
            color: $bg4;
          }

          &.controls {
            display: flex;
            gap: 10px;
            flex-direction: row-reverse;

            button {
              opacity: 0;
              @include icon_btn($txt4, $txt1);
            }
          }
        }
      }
    }
  }
}
