@use "../global.scss" as *;

.modal {
    border: 2px solid $bg0;
    width: 400px;
    margin: auto;
    padding: 0;

    &::backdrop {
        background: rgba(0, 0, 0, 0.25);
    }

    .panel__header {
        color: $txt4;
    }
}
