@use "../global.scss" as *;
@use "../mixins/index.scss" as *;

.modal {
    @include panel;

    width: 400px;
    padding: 0;

    &::backdrop {
        background: rgba(0, 0, 0, 0.25);
    }

    .wrapper {
        max-height: 50vh;
        border: 2px solid $bg0;
        padding: 5px;
        overflow: auto;
    }
}
