@use "../global.scss" as *;

.nav {
  display: flex;
  gap: 20px;
  align-items: center;

  &__games {
    display: flex;
    gap: 5px;

    &:hover {
      .main-btn iconify-icon {
        &.menu {
          display: none;
        }

        &.create {
          display: block;
        }
      }

      .list {
        width: 100%;
      }
    }

    .main-btn {
      @include icon_btn($bg2, $txt1);

      font-size: 1.5rem;
      padding: 5px;

      iconify-icon.create {
        display: none;
      }
    }

    .list {
      display: flex;
      width: 0;
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      align-self: center;
      transition: width 0.2s;

      .login-btn {
        @include btn($txt1, $bg3, $txt4);

        text-wrap: nowrap;
      }

      li {
        display: flex;
        gap: 10px;
        border-left: 1px solid $txt4;
        padding: 0 10px;
        text-wrap: nowrap;
        align-items: center;

        &:hover {
          button {
            opacity: 1;
          }
        }

        button {
          @include icon_btn($bg2, $txt1);

          opacity: 0;
        }

        a {
          @include underline_btn($txt1);
        }
      }
    }
  }
}
