@use "../global.scss" as *;

.panel {
    display: flex;
    outline: 2px solid $bg0;
    border: 5px solid $bg2;
    background: $bg1;
    flex-direction: column;

    &__header {
        background: $bg2;
        padding-bottom: 5px;
    }

    &__body {
        border: 2px solid $bg0;
        background: $bg1;
        padding: 5px;
        overflow: auto;
        flex: 5;
    }
}
