@use "../global.scss" as *;
@import "~pdfjs-dist/web/pdf_viewer.css";

.pdf-viewer-page-buttons {
    display: flex;
    gap: 15px;
    justify-content: space-around;

    button {
        border: none;
        color: $txt4;
        background: transparent;
        font-weight: bolder;

        &.active {
            color: $yellow;
        }
    }
}

.pdf-viewer {
    position: relative;
    height: 100%;
    padding: 0;
    overflow: hidden;

    &__viewer-container {
        position: absolute;

        &.rolling {
            cursor: crosshair;
        }

        .annotationLayer {
            input,
            textarea {
                border: 2px solid transparent;
                color: green;
                background: rgba(0, 0, 0, 0);
                font-weight: bolder;

                &:focus {
                    border: 2px solid #000;
                }

                &:hover {
                    border: 2px solid #000;
                }

                &.rolling {
                    cursor: crosshair;
                }
            }

            input {
                text-align: center;
            }
        }

        .textLayer {
            user-select: none;
        }
    }
}
