@use "../colors.scss" as *;

.table {
    border-top: 1px solid $bg4;
    margin-top: 30px;

    .header {
        display: flex;
        color: $txt4;
        padding-top: 5px;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin: 0;
            font-weight: bolder;
        }

        button {
            font-size: 1.5rem;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            &:hover {
                background: $bg3;

                td:nth-child(3) button {
                    opacity: 1;
                }
            }

            td {
                border: 5px solid transparent;

                &:nth-child(2) {
                    color: $txt4;
                }

                &:nth-child(3) {
                    display: flex;
                    gap: 5px;
                    flex-direction: row-reverse;

                    button {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
