@use "../global.scss" as *;
@use "../mixins/index.scss" as *;

.table {
    border-top: 1px solid $bg4;
    margin-top: 30px;

    .header {
        display: flex;
        color: $bg4;
        font-size: 1.5rem;
        padding: 5px 0;
        margin: 0 5px;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
            font-weight: bolder;
        }

        button {
            @include icon_btn($txt1, $txt4);

            font-size: 1.5rem;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            &:hover {
                background: $bg2;

                td.controls button {
                    opacity: 1;
                }
            }

            td {
                border: 5px solid transparent;

                &.main {
                    button {
                        @include underline_btn($txt1);
                    }
                }

                &.info {
                    color: $bg4;
                }

                &.controls {
                    display: flex;
                    gap: 10px;
                    flex-direction: row-reverse;

                    button {
                        opacity: 0;
                        @include icon_btn($txt1, $txt4);
                    }
                }
            }
        }
    }
}
