@import "../base.scss";

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;

  ul {
    display: flex;
    gap: 10px;
    width: 100%;
    background: $bg2;
    margin: 0;
    padding: 0 0 5px 0;
    list-style-type: none;
    justify-content: space-around;
    align-self: center;

    li {
      display: flex;
      cursor: pointer;
      gap: 5px;
      color: $txt4;
      font-weight: bolder;
      text-transform: capitalize;
      align-items: center;

      &.active {
        color: $txt1;
      }

      iconify-icon {
        font-size: 1.5rem;
      }
    }
  }

  pdf-element {
    border: 2px solid $shadow;
    flex: 5;
  }
}
