@import "~pdfjs-dist/web/pdf_viewer.css";

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: gray;
  overflow: hidden;

  .content {
    position: absolute;
    padding: 50%;

    .viewer-container {
      position: relative;

      .textLayer {
        user-select: none;

        span {
          cursor: default;
        }
      }
    }
  }
}
