@use "../../colors.scss" as *;

.nav-bar {
  position: relative;
  display: flex;
  grid-area: nav_bar;
  gap: 10px;
  align-items: center;

  .games-btn {
    font-size: 2rem;
  }

  .rolls {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: $bg2;
    overflow-x: scroll;
    flex: 2;
    flex-direction: row-reverse;
    justify-content: flex-end;

    .roll {
      display: flex;
      gap: 2px;
    }
  }

  .games-modal .wrapper table {
    border: 2000px solid #fff;
    margin-top: 30px;

    &:nth-child(1) {
      border: none;
      margin-top: 0;
    }
  }

  .roll-calculator {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
    transition: 0.2s;

    &:hover {
      .expander {
        grid-template-columns: 1fr;
        transition-delay: 0s;
      }
    }

    .submit-btn {
      font-size: 2rem;
    }

    .expander {
      display: grid;
      height: 100%;
      grid-template-columns: 0fr;
      transition: grid-template-columns 0.2s ease-out;
      transition-delay: 1s;

      .inner {
        display: flex;
        gap: 10px;
        overflow: hidden;
        align-items: center;

        input,
        select {
          height: 100%;
        }

        .dice-preview {
          display: flex;
          align-items: center;

          .icon-btn {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
