<html lang="en">

<head>
  {{ template "base_head" }}

  <script src="static/game.js" defer></script>
</head>

<body>
  <div class="grid">
    <!-- Character Sheets -->
    <dynamic-tabs class="left">
      <div slot="hoid">HOID!</div>

      <div slot="lee">LEE!</div>

      <div slot="yama">YAMA!</div>
    </dynamic-tabs>

    <!-- Chat -->
    <dynamic-tabs class="right"></dynamic-tabs>

    <!-- Scenes -->
    <dynamic-tabs class="top"></dynamic-tabs>

    <!-- Other -->
    <dynamic-tabs class="bottom"></dynamic-tabs>

    <!-- Gutters -->
    <span class="left"></span>
    <span class="middle"></span>
    <span class="right"></span>
  </div>
</body>

</html>
