<html lang="en">
  <head>
    {{ template "base_head" }}

    <script src="static/game.js" defer></script>
  </head>

  <body>
    <div class="grid">
      <!-- Character Sheets -->
      <tabs-element class="left">
        <div slot="hoid">HOID!</div>

        <div slot="lee">LEE!</div>

        <div slot="yama">YAMA!</div>
      </tabs-element>

      <!-- Chat -->
      <tabs-element class="right"></tabs-element>

      <!-- Scenes -->
      <tabs-element class="top"></tabs-element>

      <!-- Other -->
      <tabs-element class="bottom"></tabs-element>

      <!-- Gutters -->
      <span class="left"></span>
      <span class="middle"></span>
      <span class="right"></span>
    </div>
  </body>
</html>
