@use "./global.scss" as *;
@use "./components/index.scss" as *;

.login-button {
  @include main_button($txt1, $bg3, $txt4);

  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  translate: -50% -50%;
}

.layout {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-areas:
    "top    gutter right"
    "bottom gutter right";
  padding: 10px;

  &__top {
    grid-area: top;
  }

  &__bottom {
    grid-area: bottom;
  }

  &__right {
    @include panel;

    grid-area: right;
  }

  &__gutter {
    cursor: col-resize;
    grid-area: gutter;
  }
}
