@use "./colors.scss" as *;

@mixin form {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    display: flex;
    color: $txt1;
    justify-content: space-between;
  }

  input {
    border: 2px solid $bg0;
    color: $txt1;
    background: $bg1;
  }

  input[type="submit"] {
    cursor: pointer;
    width: 100%;
  }
}
