package views

import "rollbringer/src/domain/services/accounts"

templ ChatMessage(author *accounts.User, message string) {
	<div hx-swap-oob="beforebegin:.chat .messages .inner .anchor">
		<div class="message">
			<img src={ author.ProfilePicture } title={ string(author.Username) } referrerpolicy="no-referrer"/>
			<p>
				<strong class="username">{ string(author.Username) }</strong>
				<strong class="message">{ message }</strong>
			</p>
		</div>
	</div>
}
