package views

import (
	accounts_models "rollbringer/src/services/accounts/models"
	play_models "rollbringer/src/services/play/models"
)

templ RoomCard(room *play_models.Room, users []*accounts_models.User) {
	<li>
		<a href={ templ.URL("/play?r=" + room.ID.String()) }>{ string(room.Name) }</a>
		for _, user := range users {
			<img src={ user.ProfilePicture } title={ string(user.Username) } referrerpolicy="no-referrer"/>
		}
	</li>
}
