package views

import (
	accountsModels "rollbringer/src/services/accounts/models"
	playModels "rollbringer/src/services/play/models"
)

templ RoomCard(room *playModels.Room, users []*accountsModels.User) {
	<li>
		<a href={ templ.URL("/play?r=" + room.ID.String()) }>{ string(room.Name) }</a>
		for _, user := range users {
			<img src={ user.ProfilePicture } title={ string(user.Username) } referrerpolicy="no-referrer"/>
		}
	</li>
}
