package views

import "rollbringer/src/domain/services/play"
import "rollbringer/src/domain/services/accounts"

templ RoomCard(room *play.Room, roomUsers []accounts.User) {
	<li>
		<a href={ templ.URL("/play?r=" + room.ID.String()) }>{ string(room.Name) }</a>
		for _, user := range roomUsers {
			<img src={ user.ProfilePicture } title={ string(user.Username) } referrerpolicy="no-referrer"/>
		}
	</li>
}
