@use "../../global.scss" as *;

.pdfs {
    .table {
        &:first-child {
            border-top: none;
            margin-top: 0;

            .header {
                padding-top: 0;
            }
        }
    }
}
