@use "../../colors.scss" as *;
@use "../../mixins.scss" as *;

.game-pdfs,
.user-pdfs {
  .table {
    &:nth-child(1) {
      border-top: none;
      margin-top: 0;

      .header {
        padding-top: 0;
      }
    }

    tr {
      cursor: pointer;

      button {
        padding: 0;
      }
    }
  }

  .create-pdf-modal {
    .panel__body form {
      @include form;
    }
  }
}
