package components

templ CharacterSheet() {
	<div class="character-sheet">
		<ul class="character-sheet__list">
			<li>main</li>
			<li>info</li>
			<li>spells</li>
		</ul>
		@PDFViewer("character-sheet__pdf-viewer")
	</div>
}
