package components

import . "rollbringer/pkg/views"

templ PDFViewer(class, pdfURL string) {
	<div class={ "pdf-viewer", class } x-data={ F("pdfViewer('%s')", pdfURL) }>
		<form
			class="pdf-viewer__container"
			x-on:change="$dispatch('submit')"
			x-on:submit.prevent
			hx-ws="send:submit"
		>
			<div class="viewer"></div>
		</form>
	</div>
}
