package components

const CharacterSheetPDFurl = "/static/character_sheet.pdf"

templ DNDCharacterSheet() {
	<div class="dnd-character-sheet" x-data="{ currentTab: '' }">
		<ul class="dnd-character-sheet__list">
			<li x-bind="tabButton(1)">main</li>
			<li x-bind="tabButton(2)">info</li>
			<li x-bind="tabButton(3)">spells</li>
		</ul>
		@PDFViewer("dnd-character-sheet__pdf-viewer", CharacterSheetPDFurl)
	</div>
}
