package components

templ Library() {
	<div class="library">
		<h2>Library</h2>
		<ul>
			@FileButton("123hoidABC", "Hoid")
			@FileButton("123leeABC", "Lee")
		</ul>
	</div>
}

templ FileButton(id, name string) {
	<li>
		<button
 			hx-ws="send"
 			name="id"
 			value={ id }
		>
			{ name }
		</button>
	</li>
}
