package components

templ Library(class string) {
	<div class={ "library", class }>
		@StaticTabContainer("social__static-tab-container", map[string]templ.Component{
      "your stuff": yourStuff(),
    })
	</div>
}

templ yourStuff() {
	<div class="your-stuff">
		<h1>foo</h1>
	</div>
}

templ fileButton(id, name string) {
	<li>
		<button
			hx-ws="send"
			name="id"
			value={ id }
		>
			{ name }
		</button>
	</li>
}
