package components

templ Panel(class string, header templ.Component, attrs templ.Attributes) {
	<div class={ "panel", class } { attrs... }>
		<div class="panel__header">
			@header
		</div>
		<div class="panel__body">
			{ children... }
		</div>
	</div>
}
