package components

import . "rollbringer/pkg/views/utils"

templ PDFViewer(class, pdfURL string) {
	<div class={ "pdf-viewer", class } x-data={ F("pdfViewer('%s')", pdfURL) }>
		<div class="pdf-viewer__container">
			<div class="viewer"></div>
		</div>
	</div>
}
