package components

templ Table(headerTitle string, headerButton templ.Component) {
	<div class="table">
		<div class="header">
			<h2>{ headerTitle }</h2>
			if headerButton != nil {
				@headerButton
			}
		</div>
		<table>
			<tbody></tbody>
		</table>
	</div>
}

templ TableRow(attrs templ.Attributes, col1, col2 string, col3 ...templ.Component) {
	<tr { attrs... }>
		<td>{ col1 }</td>
		<td>{ col2 }</td>
		<td>
			for _, c := range col3 {
				@c
			}
		</td>
	</tr>
}
