package utils

import "fmt"
import "encoding/json"

templ foo() {
	<h1>foo</h1>
}

type AplineData map[string]any

func (d AplineData) Str() string {
	b, err := json.Marshal(d)
	if err != nil {
		fmt.Println(err)
	}
	return string(b)
}
