@use "../global.scss" as *;

@mixin btn($bg, $fg, $border-color) {
    cursor: pointer;
    display: flex;
    gap: 5px;
    border: 3px solid $border-color;
    color: $fg;
    background: $bg;
    font-weight: bolder;
    padding: 5px;
    text-decoration: none;
    align-items: center;
    justify-content: center;

    span {
        @include icon_btn($fg, $border-color);
    }
}

@mixin icon_btn($fg1, $fg2) {
    cursor: pointer;
    border: none;
    color: $fg2;
    background: transparent;
    padding: 0;

    &:hover {
        color: $fg1;
    }
}

@mixin underline_btn($fg) {
    cursor: pointer;
    border: none;
    color: $fg;
    background: transparent;
    font-weight: bolder;
    padding: 0;
    text-decoration: underline;
}
