@use "../global.scss" as *;
@use "../components/index.scss" as *;

.layout {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  grid-template-rows: auto 5px 2fr 10px 1fr;
  grid-template-columns: 3fr 10px 2fr 10px 1fr;
  grid-template-areas:
    "nav  nav nav nav nav"
    "g1   g1  g1  g1  g1"
    "left g2  top g3  right"
    "left g2  g4  g3  right"
    "left g2  bot g3  right";
  padding: 5px 10px 10px 10px;

  &__nav {
    grid-area: nav;
  }

  &__left,
  &__right,
  &__top,
  &__bottom {
    overflow: auto;
  }

  &__left {
    grid-area: left;
  }

  &__right {
    grid-area: right;
  }

  &__top {
    grid-area: top;
  }

  &__bottom {
    grid-area: bot;
  }

  &__gutter-1 {
    grid-area: g1;
  }

  &__gutter-2 {
    grid-area: g2;
  }

  &__gutter-3 {
    grid-area: g3;
  }

  &__gutter-4 {
    grid-area: g4;
  }

  &__gutter-2:hover,
  &__gutter-3:hover {
    cursor: col-resize;
  }

  &__gutter-4:hover {
    cursor: row-resize;
  }
}
