@use "../../global.scss" as *;

.dynamic-tab-container {
    display: flex;
    flex-direction: column;

    &__panel {
        flex: 5;
        margin: 2px;

        .panel__body {
            padding: 0;
        }
    }

    &__tab-buttons {
        display: flex;
        gap: 2px;
        transform: translateY(2px);

        p {
            z-index: 10;
            cursor: pointer;
            border: 2px solid $bg1;
            border-bottom: none;
            opacity: 0.5;
            background: $bg2;
            padding: 5px;

            &.active {
                border: 2px solid $bg0;
                border-bottom: none;
                opacity: 1;
            }

            button {
                border: none;
                border-radius: 50%;
                color: $txt4;
                background: transparent;
                padding: 3;

                &:hover {
                    color: $txt1;
                    background: $bg3;
                }
            }
        }
    }
}
