@use "../../colors.scss" as *;

.static-tab-container {
    display: flex;
    height: 100%;
    flex-direction: column;

    .panel__header .tab-buttons {
        display: flex;
        gap: 15px;

        button {
            border: none;
            color: $txt4;
            background: transparent;
            font-weight: bolder;

            &.active {
                color: $yellow;
            }
        }
    }
}
