@use "../../global.scss" as *;
@use "../../mixins/index.scss" as *;

.static-tab-container {
    display: flex;
    height: 100%;
    flex-direction: column;

    &__wrapper {
        height: 100%;
        border: 2px solid $bg0;
        padding: 5px;
        overflow: auto;
    }

    &__list {
        display: flex;
        gap: 15px;
        width: 100%;
        background: $bg2;
        margin: 0;
        padding: 0 0 5px 0;
        list-style-type: none;
        justify-content: start;
        align-self: center;

        li {
            cursor: pointer;
            display: flex;
            gap: 5px;
            border: none;
            color: $txt4;
            background: transparent;
            font-weight: bolder;
            align-items: center;

            &.active {
                color: $yellow;
            }

            iconify-icon {
                font-size: 1.5rem;
            }
        }
    }
}
