package views

templ Modal(class, openEvent string) {
	<dialog
		class={ "modal", class }
		x-data="modal"
		@click="close"
		@submit="$el.close()"
		{ templ.Attributes{
            "@"+openEvent+".window": "$el.showModal()",
        } ... }
	>
		{ children... }
	</dialog>
}
